<header>
   <div class="container">
       <div id="branding">
           <h1><span class="highlight">Dinner</span> Time</h1>
       </div>
       <nav>
           <ul>
               <li><a href="#/" >Odjavi se</a></li>
           </ul>
       </nav>
   </div>
</header>
<form name="myForm">
	<div class="form-group">
		<label for="">Nova sifra:</label>
		<input type="password" ng-model="flpass" class = "form-control" name="password" required>
	</div>
	<button class="btn btn-primary" ng-click="onButtonClick()">Promeni sifru</button>
</form>