<form name="myForm">
	<div class="form-group">
		<label for="">Ime:</label>
		<br>
		<input class = "form-control" type="text" ng-model="updatedFName" style="width:200px">
		<br>
		<label for="">Prezime:</label>
		<input class = "form-control" type="text" ng-model="updatedLName" style="width:200px">
		<br>
		<label for="">Sifta:</label>
		<input class = "form-control" type="password" ng-model="updatedPassword" style="width:200px">
		<br>
		<br>
		<button class="btn btn-primary" ng-click="onBtn1()" style="width:200px">Izmeni</button>
	</div>
</form>
