<header>
   <div class="container">
       <div id="branding">
           <h1><span class="highlight">Dinner</span> Time</h1>
       </div>
       <nav>
           <ul>
               <li><a href="#/systemManager/registerRestaurant">Registracija restorana</a></li>
               <li><a href="#/systemManager/registerRestaurantManager" >Registracija menadzera restorana</a></li>
               <li><a href="#/systemManager/registerSystemManager" >Registracija menadzera sistema</a></li>
               <li><a href="#/" >Odjavi se</a></li>
           </ul>
       </nav>
   </div>
</header>

<form name="myForm">
	<div class="form-group">
		<label for="">Naziv:</label>
		<br>
		<input class = "form-control" type="text" ng-model="regRes_name" style="width:200px">
		<br>
		<label for="">Tip:</label>
		<br>
		<input class = "form-control" type="text" ng-model="regRes_type" style="width:200px">
		<br>
		<br>
		<button class="btn btn-primary" ng-click="regRes_btnClick()" style="width:200px">Registruj</button>
	</div>
</form>